
<a href="/movies/">Go back</a>
<br>
{{#each peli_details}}
    <h1>{{this.title}}</h1>
   <h2>{{this.director}}</h2>
   <img src={{this.image}}alt="peli_details" widht="150px" height="150px">

<h2>{{this.starts}}</h2></li>
    

<p><h4>{{this.description}}</h4></p>

{{/each}}

